@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-primary: #258a4a;
    --color-dark: #222222;
    --color-light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: var(--color-dark);
}

h1, h2, h3 {
    font-family: 'Madimi One', sans-serif;
}

/* HEADER */

header {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Madimi One', sans-serif;
    font-size: 30px;
    color: var(--color-primary);
}

.menu-toggle {
    display: none;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar ul li {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.navbar ul li a:hover {
    color: var(--color-primary);
}


@media screen and (max-width: 959px) {
    .menu-toggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .menu-toggle i {
        color: var(--color-primary);
        font-size: 26px;
    }

    .navbar {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .navbar.open {
        display: block;
        background-color: var(--color-primary);
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .navbar ul li a {
        color: var(--color-dark);
    }

    .navbar ul li a:hover {
        color: var(--color-light);
        
    }
}


/* BANNER */

.banner {
    background-image: url(/Images/Banner.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 50px;
    justify-content: center;
}

.banner h1 {
    font-size: 60px;
    letter-spacing: 2px;
    color: var(--color-light);
}

.banner p {
    font-size: 24px;
    color: var(--color-light);
}

.banner button {
    width: 45%;
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    transition: all 1s ease;
    border-radius: 10px;
    border: none;
}

.banner button:hover {
    transform: scale(1.1);
}



/* ABOUT US */
.about {
    padding: 50px 100px;
    display: flex;
    gap: 100px;
}

.about_img img {
    border-radius: 60%;
    width: 500px;
}

.about_txt {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;

}
.about_txt h2 {
    font-size: 36px;
    color: var(--color-primary);
}

.about_txt p {
    text-align: justify;
    line-height: 40px;
}